<div layout="column" layout-margin layout-fil layout-padding>

  <div layout="row" layout-align="center">
    <div flex = "80">
      <md-card>
        <md-card-content>
          <h2>Card headline</h2>
          <p>Card content</p>
        </md-card-content>
        <md-card-footer>
          Card footer
        </md-card-footer>
      </md-card>
    </div>
  </div>

  <div layout="row" layout-align="center">
    <div flex = "80">
      <md-card>
        <md-card-content>
          <h2>Card headline</h2>
          <p>Card content</p>
        </md-card-content>
        <md-card-footer>
          Card footer
        </md-card-footer>
      </md-card>
    </div>
  </div>

</div>
