<div layout="column">
  <div layout="row" layout-align = "center">
    <md-card flex = "60" flex-md = "80">
      <md-card-content>
        <h1>FAQ</h1>
        <h3>Why did you do this?</h3>
          <p>#YOLO</p>
        <h3>How long did it take you?</h3>
          <p>I'd rather not talk about it =(</p>
        <h3>Dat backend dou!</h3>
          <p>I know, I know, I think we can all agree that node and express is such pretty backend</p>
        <h3>But what about the database?</h3>
          <p>Mongodb or bust! Not really, it's just what I knew and it plays nice with node and express</p>
        <h3>Sick charts man! How'd you make them?</h3>
          <p>I really can't take much credit for them, they're pretty much plug and play with the *angular-chart* library.</p>
        <h3>How'd you get that super awesome tab scrolling?</h3>
          <p>The front end framework was built using angular.js, with the nice pretty material design theme from the angular-material library</p>
        <h3>This is really cool and I'd love to hack on it, is it open source?</h3>
          <p>You're welcome.</p>
        <h3>But what about the docs?!?!?!?</h3>
          <p>Don't worry bb, I got you</p>
      </md-card-content>
    </md-card>
  </div>
</div>
